@model DinamikCV.Models.Entity.tblEgitimlerim
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EgitimEkle</h2>
<br />

<form method="post">
    @Html.Label("Baslik")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Baslik," ", new {@style="color:red" })
    <br />
    @Html.Label("AltBaslik1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("AltBaslik2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.GNO, "", new { @style="color:green" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />


    <button class="btn btn-info"> Kaydet </button>

</form>
