@using DinamikCV.Models.Entity
@model List<tblYeteneklerim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string color = " "; }
@{ string labelColor = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Yetenek Listem</h2>

                            </div>
                            <!-- /.card-header -->
                           
                            <div class="card-body">
                                
                                <a href="#" class="btn btn-info">Yetenek Ekle</a>
                                <br />
                                <br />
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Yetenek</th>
                                            <th>Derece</th>
                                            <th style="width: 40px">Oran</th>
                                            <th>İşlemler</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            if (item.Oran <= 55)
                                            {
                                                color = "progress-bar bg-danger";
                                                labelColor = "badge bg-danger";
                                            }
                                            if (item.Oran >= 56 && item.Oran <= 75)
                                            {
                                                color = "progress-bar bg-primary";
                                                labelColor = "badge bg-primary";
                                            }
                                            if (item.Oran >= 76 && item.Oran <= 90)
                                            {
                                                color = "progress-bar bg-success";
                                                labelColor = "badge bg-success";
                                            }
                                            if (item.Oran >= 91 && item.Oran <= 100)
                                            {
                                                color = "progress-bar bg-warning";
                                                labelColor = "badge bg-warning";
                                            }


                                            <tr>
                                                <td>1.</td>
                                                <td>@item.Yetenek</td>
                                                <td>
                                                    <div class="progress progress-xs">
                                                        <div class="@color" style="width: @item.Oran%"></div>
                                                    </div>
                                                </td>
                                                <td><span class="@labelColor">@item.Oran%</span></td>
                                                <td>
                                                    <a href="#" class="btn btn-default"> Sil </a>
                                                    <a href="#" class="btn btn-default"> Duzenle </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</body>
</html>