@model DinamikCV.Models.Entity.tblDeneyimlerim
    @{

    ViewBag.Title = "DeneyimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyimleri Düzenle</h2>


<form>
    @Html.Label("DeneyimID")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Baslik")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("AltBaslik")
    @Html.TextBoxFor(x => x.AltBaslik, new { @class = "form-control" })
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    @Html.Label("Aciklama")
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <a href="#" class="btn btn-info"> kaydet</a>
      
</form>

