@using DinamikCV.Models.Entity
@model List<tbliletisim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                    
                        <div class="card-body">
                           
                                <div class="tab-pane" id="timeline">
                                    <!-- The timeline -->
                                    <div class="timeline timeline-inverse">
                                        <!-- timeline time label -->
                                        @foreach (var item in Model) {
                                        <div class="time-label">
                                            <span class="bg-info">
                                                @item.Tarih
                                            </span>
                                        </div>

                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"> @item.Mail</span>
                                                <h3 class="timeline-header"><a href="#">@item.AdSoyad</a>  | @item.Konu</h3>
                                                <div class="timeline-body">
                                                   @item.Mesaj
                                                </div>
                                                @*<div class="timeline-footer">
                                                    <a href="#" class="btn btn-warning btn-flat btn-sm">View comment</a>
                                                </div>*@
                                            </div>
                                        </div>

                                        }
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
     
    </section>
</body>
</html>